<h1>Todos tus articulos creados</h1>
<p>  
  <%= link_to "Crear un nuevo articulo!", new_article_path %>
</p>
<table>
  <tr>
    <th>Titulo</th>
    <th>Descripción</th>
  </tr>
  
  <% @articles.each do |article| %>
  <tr>
    <td> <%= article.title %></td>
    <td> <%= article.description %></td>
    <td> <%= link_to "Editar |", edit_article_path(article) %></td>
    <td> <%= link_to "Mostar blog completo", article_path(article) %></td>
  </tr>
  <% end %>
    
</table>